<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="_Atrico.Lib.CommonAssemblyInfo" version="1.0.0.0" targetFramework="net45" />
  <package id="Atrico.Lib.Assertions" version="3.2.0.0" targetFramework="net452" />
  <package id="Atrico.Lib.Common" version="1.4.0.0" targetFramework="net452" />
  <package id="Atrico.Lib.Testing" version="1.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>